@model HelpDeskLogin.Models.chamados

@{
    ViewData["Title"] = "Details";
}

@{
    <input type="button" class="btn btn-primary" value="+" onclick="fonte('a');" />
    <input type="button" class="btn btn-primary" value="-" onclick="fonte('b');" />
    <input type="hidden" id="backup" />
}

<h2>Detalhes</h2>

<div>
    <h4>chamados</h4>
    <hr />
    <dl class="dl-horizontal" id="conteudo" style="font-size: 15px;">
        <dt>
            @Html.DisplayNameFor(model => model.DH_Abertura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DH_Abertura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DH_Fechamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DH_Fechamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.categorias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.categorias.categoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.comentarios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.comentarios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.grupos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.grupos.grupo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.logs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Log)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prioridades)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prioridades.prioridade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.arquivos)
        </dt>
        @foreach (var arquivo in Model.ListaArquivos)
        {
            @arquivo.NomeArquivo
            <a href="@Url.Action("BaixarAnexo", "chamados", new { id = arquivo.idArquivo })" class="btn btn-xs btn-mini btn-primary"><i class="fa fa-download"></i> Baixar anexo</a>
        }

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idChamado">Editar</a> |
    <a asp-action="Index">Voltar a Lista</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">

        /* Função para acessibilidade */
        function fonte(e) {

            var elemento = document.getElementById("conteudo");// Recebendo o Id da div
            var atual = elemento.style.fontSize; // identificando a fonte



            if (e == 'a') {

                atual = parseInt(atual) + 15 + 'px'; // Calculo de tamanho de fonte
            } else if (e == 'b') {
                atual = parseInt(atual) - 15 + 'px';

            } else if (e == 'c') {
                elemento.style.fontSize = atual;

            }
            elemento.style.fontSize = atual;

        }


    </script>

}