@model IEnumerable<HelpDeskLogin.Models.chamados>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DH_Abertura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DH_Fechamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descricao)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.categorias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comentarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grupos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.logs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prioridades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.arquivos)

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DH_Abertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DH_Fechamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categorias.categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comentarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grupos.grupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Log)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prioridades.prioridade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arquivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idChamado">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idChamado">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idChamado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
