@model HelpDeskLogin.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Create Usuario";
}

<h2>CreateFuncionario</h2>


@{
    <input type="button" class="btn btn-primary" value="+" onclick="fonte('a');" />
    <input type="button" class="btn btn-primary" value="-" onclick="fonte('b');" />
    <input type="hidden" id="backup" />
}


<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-12" id="conteudo" style="font-size: 15px;">
        <form asp-action="CreateUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required" })
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required" })
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber)
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", required = "required" })
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", required = "required" })
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", required = "required" })
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Perfil)
                <dropdrown-perfil asp-for="Perfil" id="Perfil" name="Perfil"></dropdrown-perfil>
                <span asp-validation-for="Perfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ClinicaId)
                <dropdrown-clinica asp-for="ClinicaId" id="ClinicaId" name="ClinicaId"></dropdrown-clinica>
                <span asp-validation-for="ClinicaId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Usuarios">Back to List</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">

        /* Função para acessibilidade */
        function fonte(e) {

            var elemento = document.getElementById("conteudo");// Recebendo o Id da div
            var atual = elemento.style.fontSize; // identificando a fonte



            if (e == 'a') {

                atual = parseInt(atual) + 15 + 'px'; // Calculo de tamanho de fonte
            } else if (e == 'b') {
                atual = parseInt(atual) - 15 + 'px';

            } else if (e == 'c') {
                elemento.style.fontSize = atual;

            }
            elemento.style.fontSize = atual;

        }


    </script>
}
