@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<Pessoas> SignInManager

@{
    <br />
    <br />
}


@{
    <input type="button" class="btn btn-primary" value="+" onclick="fonte('a');" />
    <input type="button" class="btn btn-primary" value="-" onclick="fonte('b');" />
    <input type="hidden" id="backup" />
}


@{
    ViewData["Title"] = "Entrar";
}

<h2>@ViewData["Title"]</h2>






<div class="row">
    <div class="col-md-12" id="conteudo" style="font-size: 15px;">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>seja bem vindo ao HelpDesk</h4> <hr />
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Esqueceu sua senha?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>

            <hr />
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>

                    </div>
                }
                else
                {
                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")


    <script type="text/javascript">

        /* Função para acessibilidade */
        function fonte(e) {

            var elemento = document.getElementById("conteudo");// Recebendo o Id da div
            var atual = elemento.style.fontSize; // identificando a fonte



            if (e == 'a') {

                atual = parseInt(atual) + 15 + 'px'; // Calculo de tamanho de fonte
            } else if (e == 'b') {
                atual = parseInt(atual) - 15 + 'px';

            } else if (e == 'c') {
                elemento.style.fontSize = atual;

            }
            elemento.style.fontSize = atual;

        }


    </script>
}